.profile-header{
  background-color: #82E0AA ;
  padding: 25px 50px;
  font-weight: lighter;
}
.profile-activity{
  border: 1px solid black;
}

#NGO_Logo {
	background: linear-gradient(to bottom, white, #98fb98);
	color: black;
}
