.profile-header{
  background-color: #D5F5E3;
  margin-top: 40px;
  padding: 25px 50px;
  font-weight: lighter;
}
.profile-activity{
  margin-top: 25px;
}
.heading-details{
  margin-bottom: 20px;
  font-style: italic;
}
.para-details {
  padding-bottom: 5px;
  margin-bottom: 0px;
}
#NGO_Logo {
	background: linear-gradient(to bottom, white, #98fb98);
	color: black;
}
.transaction-panel{
  margin-top: -100px;
}
.review-panel{
  background-color: #F2F3F4;
}
.review-head{
  font-weight: lighter;
  font-size: 25px;
  padding: 15px;
}
.review-list-color{
  background-color: #F2F3F4;
  padding-bottom: 0px;
}
