.profile-header{
  background-color: #D5F5E3;
  margin-top: 40px;
  padding: 25px 50px;
  font-weight: lighter;
}
.profile-activity{
  margin-top: 25px;
}
.heading-details{
  margin-bottom: 20px;
  font-style: italic;
}
.para-details {
  padding-bottom: 5px;
  margin-bottom: 0px;
}
#NGO_Logo {
	background: linear-gradient(to bottom, white, #98fb98);
	color: black;
}
.review-panel{
  background-color: #F2F3F4;
}
.review-head{
  font-weight: lighter;
  font-size: 25px;
  padding: 15px;
}
.review-list-color{
  background-color: #F2F3F4;
  padding-bottom: 0px;
}
.review-side-bar{
  margin-top: 40px;
}
.review-side-bar p{
  background-color: #A3E4D7;
}
#RecentSlide .card{
  border: 0px;
  outline: none;
}
.recent-activity{
  font-weight: lighter;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 575.98px) {

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

   .transaction-panel{
     margin-top: 50px;
   }
   
   .profile-activity{
    display: flex;
    flex-direction: column-reverse;
   }
}

@media (min-width: 575.98px) {

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

   .transaction-panel{
     margin-top: -100px;
   }
}