#home-header{
  margin-top: 50px;
  margin-bottom: 25px;
  color: #239B56;
  font-weight: lighter;
}
.jumbotron{
  background-image: url(https://images.pexels.com/photos/2334/hill-meadow-tree-green.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 65vh;
}
#information-section {
  background-color: #EAFAF1 ;
  /* background-color: rgba(234, 250, 241,0.7); */
}
.subsection {
  margin-top: 75px;
  margin-bottom: 50px;
}
.subsection .title-color{
  margin-top: 15px;
  color: #239B56;
}

@media (max-width: 575.98px) {
  .reverse-section {
    display: flex;
    flex-direction: column-reverse;
  }
}

.fotter{
  color: #82E0AA;
}
.fotter-title{
  margin: 10px;
  font-weight: lighter;
}
.fotter-content{
  margin: 5px;
}
.list-color{
  color: #fff;
  outline: none;
  border: 0px;
  margin-bottom: 2px;
}